USE [master]
GO
/****** Object:  Database [ShoppingCartDB]    Script Date: 28/07/2015 21:46:00 ******/
CREATE DATABASE [ShoppingCartDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoppingCartDB', FILENAME = N'C:\DataBases\ShoppingCartDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShoppingCartDB_log', FILENAME = N'C:\DataBases\ShoppingCartDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoppingCartDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoppingCartDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerDetails]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerDetails](
	[id] [int] IDENTITY(1,2) NOT NULL,
	[Customername] [varchar](100) NULL,
	[CustomerEmailID] [varchar](100) NULL,
	[CustomerPhoneNo] [varchar](10) NULL,
	[CustomerAddress] [varchar](500) NULL,
	[TotalProducts] [int] NULL,
	[TotalPrice] [int] NULL,
	[OrderDatetime] [datetime] NULL DEFAULT (getdate()),
	[PaymentMethod] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerProducts]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerProducts](
	[CustomerID] [int] NULL,
	[ProductID] [int] NULL,
	[TotalProduct] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NULL,
	[Description] [varchar](1000) NULL,
	[Price] [varchar](50) NULL,
	[ImageUrl] [varchar](500) NULL,
	[CategoryID] [int] NULL,
	[ProductQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewCategory]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewCategory]
(
@CategoryName varchar(200)
)
AS 
	BEGIN
		
		BEGIN TRY
			
			insert into Category
			values (@CategoryName)
		
		END TRY
		
		BEGIN CATCH
		
		PRINT( 'Error occured')
		
		END CATCH
	END



GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewProduct]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewProduct]
(
@ProductName varchar(300),
@ProductPrice int,
@ProductImage varchar(500),
@ProductDescription varchar(1000),
@CategoryID int,
@ProductQuantity int
)
AS 
	BEGIN
		
		BEGIN TRY
			
			insert into products
			values 
			(@ProductName,
			@ProductDescription,
			@ProductPrice,
			@ProductImage,
			@CategoryID,
			@ProductQuantity
			)
		
		END TRY
		
		BEGIN CATCH
		
		PRINT( 'Error occured')
		
		END CATCH
	END



GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCategories]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllCategories]

AS 
	BEGIN
		
		BEGIN TRY
			
			select * from Category
		
		END TRY
		
		BEGIN CATCH
		
		PRINT( 'Error occured')
		
		END CATCH
	END



GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllProducts]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_GetAllProducts] (@CategoryID int)

AS 
	BEGIN
		
	 
	  
		BEGIN TRY
		   if(@CategoryID <>0)
				BEGIN
							select *
								  from(select p.CategoryId,
											  p.ProductID,
											  p.Name,
											  p.Price,
											  p.ImageUrl,
											  c.CategoryName,
											  p.ProductQuantity,
											  ISNULL(sum(cp.TotalProduct),0) as ProductSold,
											  ( p.ProductQuantity - ISNULL(sum(cp.TotalProduct),0)) as AvailableStock
										from products p
											  inner join Category c
													on c.CategoryID=p.CategoryID
											  left join CustomerProducts cp
													on cp.ProductID=p.ProductID
										group by p.ProductID,
												 p.Name,
												 p.Price,
												 p.ImageUrl,
												 c.CategoryName,
												 p.ProductQuantity,
												 p.CategoryID)	 StockTable
							where AvailableStock>0 
								  and CategoryID=@CategoryID			
				END
		   ELSE
				BEGIN
							select *
								  from(select p.CategoryId,
											  p.ProductID,
											  p.Name,
											  p.Price,
											  p.ImageUrl,
											  c.CategoryName,
											  p.ProductQuantity,
											  ISNULL(sum(cp.TotalProduct),0) as ProductSold,
											  ( p.ProductQuantity - ISNULL(sum(cp.TotalProduct),0)) as AvailableStock
										from products p
											  inner join Category c
													on c.CategoryID=p.CategoryID
											  left join CustomerProducts cp
													on cp.ProductID=p.ProductID
										group by p.ProductID,
												 p.Name,
												 p.Price,
												 p.ImageUrl,
												 c.CategoryName,
												 p.ProductQuantity,
												 p.CategoryID)	 StockTable
							where AvailableStock>0
				END
		END TRY
		
		BEGIN CATCH
		
		PRINT( 'Error occured')
		
		END CATCH
	END



GO
/****** Object:  StoredProcedure [dbo].[SP_SaveCustomerDetails]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SaveCustomerDetails]
(
@CustomerName varchar(100),
@CustomerEmailID varchar(100),
@CustomerPhoneNo varchar(10),
@CustomerAddress varchar(500),
@TotalProduct int,
@TotalPrice int,
@PaymentMethod varchar(100))
AS 
	BEGIN
		
		BEGIN TRY
			
			insert into CustomerDetails(Customername,CustomerEmailID,CustomerPhoneNo,CustomerAddress,TotalProducts,TotalPrice,PaymentMethod)
								 values(@CustomerName,@CustomerEmailID,@CustomerPhoneNo,@CustomerAddress,@TotalProduct,@TotalPrice,@PaymentMethod)
	
			select @@IDENTITY as CustomerID
		
		END TRY
		
		BEGIN CATCH
		
		PRINT( 'Error occured')
		
		END CATCH
	END



GO
/****** Object:  StoredProcedure [dbo].[SP_SaveCustomerProducts]    Script Date: 28/07/2015 21:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[SP_SaveCustomerProducts]
(
@CustomerID int,
@ProductID int,
@TotalProduct int)
AS 
	BEGIN
		
		BEGIN TRY
			
			insert into CustomerProducts(CustomerID,ProductID,TotalProduct)
			values(@CustomerID,@ProductID,@TotalProduct)
	
			select @@IDENTITY as CustomerID
		
		END TRY
		
		BEGIN CATCH
		
		PRINT( 'Error occured')
		
		END CATCH
	END



GO
USE [master]
GO
